@charset "UTF-8";
html{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 800px;
	background: -webkit-linear-gradient(#2d2f33, #878d99, #9481aa);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#2d2f33, #878d99, #9481aa);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#2d2f33, #878d99, #9481aa);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#2d2f33, #878d99, #9481aa);
	overflow-x: hidden;
}
#main {
	margin: 20px auto;
	padding: 10px;
	width: 90%;
	min-height: 800px;
	max-height: auto;
	background: #fff;
	overflow-x: hidden;
	border-radius: 20px;
	box-shadow: 0 3px 10px #333;
}

#footer{
	margin: 30px auto 40px;
	text-align: center;
	font-size: 14px;
}
p{margin: 0;color: #282a2e;line-height:1.5 }


.ztree li span.button.pIcon01_ico_open, .ztree li span.button.pIcon01_ico_close,
	.ztree li span.button.icon01_ico_open, .ztree li span.button.icon01_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon01.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon02_ico_open, .ztree li span.button.pIcon02_ico_close,
	.ztree li span.button.icon02_ico_open, .ztree li span.button.icon02_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon02.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon03_ico_open, .ztree li span.button.pIcon03_ico_close,
	.ztree li span.button.icon03_ico_open, .ztree li span.button.icon03_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon03.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon04_ico_open, .ztree li span.button.pIcon04_ico_close,
	.ztree li span.button.icon04_ico_open, .ztree li span.button.icon04_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon04.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon05_ico_open, .ztree li span.button.pIcon05_ico_close,
	.ztree li span.button.icon05_ico_open, .ztree li span.button.icon05_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon05.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon06_ico_open, .ztree li span.button.pIcon06_ico_close,
	.ztree li span.button.icon06_ico_open, .ztree li span.button.icon06_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon06.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon07_ico_open, .ztree li span.button.pIcon07_ico_close,
	.ztree li span.button.icon07_ico_open, .ztree li span.button.icon07_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon07.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon08_ico_open, .ztree li span.button.pIcon08_ico_close,
	.ztree li span.button.icon08_ico_open, .ztree li span.button.icon08_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon08.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon09_ico_open, .ztree li span.button.pIcon09_ico_close,
	.ztree li span.button.icon09_ico_open, .ztree li span.button.icon09_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon09.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon10_ico_open, .ztree li span.button.pIcon10_ico_close,
	.ztree li span.button.icon10_ico_open, .ztree li span.button.icon10_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon10.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon11_ico_open, .ztree li span.button.pIcon11_ico_close,
	.ztree li span.button.icon11_ico_open, .ztree li span.button.icon11_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon11.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon12_ico_open, .ztree li span.button.pIcon12_ico_close,
	.ztree li span.button.icon12_ico_open, .ztree li span.button.icon12_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon12.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon13_ico_open, .ztree li span.button.pIcon13_ico_close,
	.ztree li span.button.icon13_ico_open, .ztree li span.button.icon13_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon13.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon14_ico_open, .ztree li span.button.pIcon14_ico_close,
	.ztree li span.button.icon14_ico_open, .ztree li span.button.icon14_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon14.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon15_ico_open, .ztree li span.button.pIcon15_ico_close,
	.ztree li span.button.icon15_ico_open, .ztree li span.button.icon15_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon15.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon16_ico_open, .ztree li span.button.pIcon16_ico_close,
	.ztree li span.button.icon16_ico_open, .ztree li span.button.icon16_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon16.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon17_ico_open, .ztree li span.button.pIcon17_ico_close,
	.ztree li span.button.icon17_ico_open, .ztree li span.button.icon17_ico_close
	{
	margin-right: 2px;
	background: url(img/pIcon17.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon01_ico_docu, .ztree li span.button.icon01_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon01.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon02_ico_docu, .ztree li span.button.icon02_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon02.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon03_ico_docu, .ztree li span.button.icon03_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon03.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon04_ico_docu, .ztree li span.button.icon04_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon04.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon05_ico_docu, .ztree li span.button.icon05_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon05.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon06_ico_docu, .ztree li span.button.icon06_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon06.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon07_ico_docu, .ztree li span.button.icon07_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon07.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon08_ico_docu, .ztree li span.button.icon08_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon08.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon09_ico_docu, .ztree li span.button.icon09_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon09.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon10_ico_docu, .ztree li span.button.icon10_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon10.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon11_ico_docu, .ztree li span.button.icon11_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon11.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon12_ico_docu, .ztree li span.button.icon12_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon12.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon13_ico_docu, .ztree li span.button.icon13_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon13.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon14_ico_docu, .ztree li span.button.icon14_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon14.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon15_ico_docu, .ztree li span.button.icon15_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon15.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon16_ico_docu, .ztree li span.button.icon16_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon16.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon17_ico_docu, .ztree li span.button.icon17_ico_docu
	{
	margin-right: 2px;
	background: url(img/pIcon17.png) no-repeat scroll 0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li a span.node_name {
	word-break: break-all;
	word-wrap: break-word;
}

button:first-of-type {
	margin: 0 30px 0 60px;
}

button {
	border: 1px solid gray;
	padding: .5em 1.2em;
	border-radius: 2em;
	outline: none;
	background-color: #fff;
	color: #333;
}

button:hover {
	background-color: #7b9eff;
	color: #fff;
	border: 1px solid gray;
}

.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform;
	transition-property: transform
}

.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, .35)
		0, transparent 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0,
		transparent 80%);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity
}

.hvr-float-shadow:active, .hvr-float-shadow:focus, .hvr-float-shadow:hover
	{
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.hvr-float-shadow:active:before, .hvr-float-shadow:focus:before,
	.hvr-float-shadow:hover:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px)
}